

<td class="py-3 pl-3 text-start">
  <div class="pr-1">
    <span class="text-sm text-muted-foreground">{{ discount.title }}</span>

  </div>

</td>
<td class="py-3 pl-3 text-start">
  <div class="pr-1">
    <span class="text-sm text-muted-foreground">{{ discount.amount }}</span>

  </div>

</td>
<td class="py-3 pl-3 text-start">
  <div class="pr-1">
    <span class="text-sm text-muted-foreground">{{ discount.type | appTypeDiscount}}</span>

  </div>

</td>


<td class="py-3 pl-3 text-start">
  <div class="pr-1">
    <span  class="text-sm text-muted-foreground">
      {{ discount.description}}
    </span>

  </div>

</td>

<td class="py-3 pl-3 text-right">
  <div class="pr-1">
    <span  class="text-sm text-muted-foreground">
      {{ discount.imagesUrl.length}}
    </span>

  </div>

</td>
